---
import Layout from '../../../layouts/Layout.astro';

import '@/mixins/utilities.scss';
import '@/mixins/Reboot.scss';
import '@/styles/stylefunciona.css';
import '@/styles/styles.css';
import '@/pages/series/series.scss';
import '@/components/CONTENT/PROXIMOSLANZAMIENTOS/PROXIMOSLANZAMIENTOS.scss';
import '@/pages/series/kithseries.scss';
import '@/styles/BOTONES.scss'

import '@/components/Header/Header.scss';
import '@/components/CONTENT/SLIDERSGLOBAL/KITHSLIDER.scss';
---

<Layout showChadbot={true}>
  <main class="series-container">
        <div class="series-max-wrapper">
            <!-- Header Section -->
            <div class="header-on-mobile">
                <div class="series-grid-header">
                    <div class="series-desktop-header-info-wrapper-series">
                        <h1 class="series-desktop-header-info-title">THE CLIMBER</h1>
                        <span class="series-desktop-header-info-author-series">By Shinichi Sakamoto</span>
                        
                        <div class="hide-on-mobile-series">
                            <p class="series-desktop-header-info-description justificado">
Nada más llegar a su nuevo instituto, Buntarô Mori, un adolescente solitario sin interés en nada, acepta el reto de su compañero Miyamoto: escalar el edificio de la escuela, desde el suelo hasta la azotea. Consciente de que, si comete un solo error, puede morir en la caída, la sensación de satisfacción que obtiene en el momento del logro le hace sentirse “vivo” como nunca antes. <br><br>¡¡En ese momento, Buntarô descubre su pasión por la escalada...!!                        </div>
                        
                        <!-- Start Reading Section -->
                        <div class="series-desktop-reader-chapter">
                            <div class="read-in-series-column">
                                <div class="read-in-series-container">
                                    <div class="ui-product-poster-container ui-product-poster-container-hover" style="padding-top: 120%;">
                                        <div class="ui-product-poster-container-2">
                                            <div class="ui-product-poster-wrapper">
                                                <picture>
                                                    <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=145, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=145 2x" media="(max-width: 991px)">
                                                    <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=288, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                    <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=405, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=405 2x" media="(min-width: 1200px)">
                                                    <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=145, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=145 2x" media="(max-width: 991px)">
                                                    <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=288, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                    <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=405, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=405 2x" media="(min-width: 1200px)">
                                                    <img fetchpriority="low" loading="lazy" class="ui-product-poster-image" src="/src/assets/img/Series/Theclimber/1.webp" alt="Thumbnail for chapter 1" width="1763" height="2530">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="read-in-series-info-actions-wrapper">
                                        <div class="read-in-series-info-wrapper">
                                            <span class="read-in-series-header">Empezar Leyendo</span>
                                            <span class="read-in-series-chapter">Capitulo 1</span>
                                            <span class="read-in-series-page">Página 1 / 38</span>
                                        </div>
                                        
                                        <a href="https://zonatmo.com/viewer/5af5c732941c6/cascade">
                                        <div role="button" class="arrow-container" aria-label="Read Now">
                                            <span class="arrow-btn with-arrow text-bold undefined">lEER AHORA</span>
                                            <div class="icon-wrapper">
                                                <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="white" width="80" class="icon">
                                                    <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Series Poster Section -->
                    <div>
                        <div class="series-poster-wrapper">
                            <!-- Mobile Poster -->
                            <div class="hide-breadcrumb-on-desktop">
                                <div class="ui-series-poster-container false" style="padding-top: 80%;">
                                    <div class="ui-series-poster-container-2">
                                        <div class="ui-series-poster-wrapper">
                                            <picture>
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=700, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=700 2x" media="(max-width: 991px)">
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=400, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=400 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=600, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=600 2x" media="(min-width: 1200px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=700, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=700 2x" media="(max-width: 991px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=400, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=400 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=600, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=600 2x" media="(min-width: 1200px)">
                                                <img fetchpriority="high" loading="eager" class="ui-series-poster-image" src="/src/assets/img/Series/Theclimber/poster.webp" alt="cover for 10 DANCE" width="1200" height="960">
                                            </picture>
                                            <div class="colorize" style="background-color: rgb(117, 199, 246);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Desktop Poster -->
                            <div class="hide-on-mobile-series">
                                <div class="ui-series-poster-container false" style="padding-top: 114%;">
                                    <div class="ui-series-poster-container-2">
                                        <div class="ui-series-poster-wrapper">
                                            <picture>
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=700, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=700 2x" media="(max-width: 991px)">
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=400, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=400 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=600, /src/assets/img/Series/Theclimber/poster.webp?f=webp&amp;w=600 2x" media="(min-width: 1200px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=700, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=700 2x" media="(max-width: 991px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=400, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=400 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=600, /src/assets/img/Series/Theclimber/poster.webp?f=jpeg&amp;w=600 2x" media="(min-width: 1200px)">
                                                <img fetchpriority="high" loading="eager" class="ui-series-poster-image" src="/src/assets/img/Series/Theclimber/poster.webp" alt="cover for 10 DANCE" width="1200" height="960">
                                            </picture>
                                            <div class="colorize" style="background-color: rgb(117, 199, 246);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <!-- Breadcrumb Navigation -->
                        <div class="series-breadcrumb-wrapper" data-nosnippet="true">
                            <!-- Mobile Breadcrumb -->
                            <div class="hide-breadcrumb-on-desktop">
                                <div class="breadcrumb-container ">
                                    <div class="breadcrumb-wrapper">
                                        <a class="breadcrumb-element  " href="/explorar">explorar</a>
                                        <span class="breadcrumb-slash">/</span>
                                    </div>
                                    <div class="breadcrumb-wrapper">
                                        <a class="breadcrumb-element  " href="/explorar">Manga</a>
                                        <span class="breadcrumb-slash">/</span>
                                    </div>
                                    <div class="breadcrumb-wrapper">
                                        <div class="breadcrumb-item-with-no-hover breadcrumb-element  "></div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Desktop Breadcrumb -->
                            <div class="hide-breadcrumb-on-mobile">
                                <div class="breadcrumb-container series-desktop-header-breadcrumb-styles">
                                    <div class="breadcrumb-wrapper">
                                        <a class="breadcrumb-element  " href="/explorar">explorar</a>
                                        <span class="breadcrumb-slash">/</span>
                                    </div>
                                    <div class="breadcrumb-wrapper">
                                        <a class="breadcrumb-element  " href="/explorar">Manga</a>
                                        <span class="breadcrumb-slash">/</span>
                                    </div>
                                    <div class="breadcrumb-wrapper">
                                        <a class="breadcrumb-element breadcrumb-element-highlighted " href="/series/gokurakigai/">THE CLIMBER</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Series Information -->
            <div class="SeriesInfo">
                <div class="SeriesInfo-title">
                    <h2>SERIES INFO</h2>
                </div>
                
                <div class="SeriesInfo-table">
                    <div class="SeriesInfo-row">
                        <div class="SeriesInfo-col">
                            <span class="SeriesInfo-key">STATUS</span>
                            <span class="SeriesInfo-value">EN CURSO</span>
                        </div>
                        <div class="SeriesInfo-col">
                            <span class="SeriesInfo-key">EDAD</span>
                            <span class="SeriesInfo-value">16+</span>
                        </div>
                        <div class="SeriesInfo-col">
                            <span class="SeriesInfo-key">RECURSOS</span>
                            <div class="SeriesInfo-links">
                                <a href="https://mangaplus.shueisha.co.jp/titles/100230" target="_blank" rel="noopener noreferrer" class="SeriesInfo-link">Mangaplus</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="SeriesInfo-row">
                        <div class="SeriesInfo-col">
                            <span class="SeriesInfo-key">Tags</span>
                            <div class="SeriesInfo-tags">
                                <span class="SeriesInfo-tag">Drama</span>
                                <span class="SeriesInfo-tag">Accion</span>
                                <span class="SeriesInfo-tag">Sobrenaural</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        
        <!-- Volumes Section -->
        <div class="series-max-wrapper">
            <div class="series-desktop-volume-container series-products-container">
                <!-- Desktop Volume Controls -->
                <div class="series-tabs-desktop-container">
                    <div class="series-tabs-desktop-wrapper" style="border-bottom: none;">
                        <h2 class="series-tabs-desktop-volumes-text">2 Volumes</h2>
                        
                        <div class="series-tabs-desktop-cascade-wrapper">
                            <div class="ui-select-menu-container">
                                <div class="header-wrapper">
                                    <span class="ui-select-menu-title">Ir al volume</span>
                                    <svg height="7px" version="1.1" viewBox="0 0 10 7" width="10px" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" id="Page-1" stroke="none" stroke-width="1">
                                            <g fill="#fff" id="Core" transform="translate(-469.000000, -9.000000)">
                                                <g id="arrow-drop-down" transform="translate(469.000000, 9.500000)">
                                                    <path d="M0,0 L5,5 L10,0 L0,0 Z" id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        
                        <div class="sort-icons-wrapper-active">
                            <svg height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M322.7,128.4L423,233.4c6,5.8,9,13.7,9,22.4c0,8.7-3,16.5-9,22.4L322.7,383.6c-11.9,12.5-31.3,12.5-43.2,0  c-11.9-12.5-11.9-32.7,0-45.2l48.2-50.4h-217C93.7,288,80,273.7,80,256c0-17.7,13.7-32,30.6-32h217l-48.2-50.4  c-11.9-12.5-11.9-32.7,0-45.2C291.4,115.9,310.7,115.9,322.7,128.4z"></path>
                            </svg>
                            <svg height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xmlns="http://www.w3.org/2000/svg">
                                <path d="M322.7,128.4L423,233.4c6,5.8,9,13.7,9,22.4c0,8.7-3,16.5-9,22.4L322.7,383.6c-11.9,12.5-31.3,12.5-43.2,0  c-11.9-12.5-11.9-32.7,0-45.2l48.2-50.4h-217C93.7,288,80,273.7,80,256c0-17.7,13.7-32,30.6-32h217l-48.2-50.4  c-11.9-12.5-11.9-32.7,0-45.2C291.4,115.9,310.7,115.9,322.7,128.4z"></path>
                            </svg>
                        </div>
                        
                        <div class="series-tabs-desktop-chapters-show-wrapper">
                            <div class="series-tabs-desktop-chapters-show-text">MOSTRAR CAPITULOS</div>
                            <div class="series-tabs-desktop-chapters-show-plus">+</div>
                        </div>
                    </div>
                </div>

<div class="series-desktop-volume-grid false">
    <div class="series-volumeItem">
        <div id="volume-0" class="series-volume-item-top-container series-volume-item-top-container-desktop">
            <div class="series-volume-item-container series-volume-item-container-normal">
                <div class="product-item-column-wrapper">
                    <div class="product-item-wrapper">
                        <a href="/product/10-dance-1/">
                            <div class="ui-product-poster-container false" style="padding-top: 125%;">
                                <div class="ui-product-poster-container-2">
                                    <div class="ui-product-poster-wrapper">
                                        <picture>
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=145, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=145 2x" media="(max-width: 991px)">
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=288, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=405, /src/assets/img/Series/Theclimber/1.webp?f=webp&amp;w=405 2x" media="(min-width: 1200px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=145, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=145 2x" media="(max-width: 991px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=288, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=405, /src/assets/img/Series/Theclimber/1.webp?f=jpeg&amp;w=405 2x" media="(min-width: 1200px)">
                                            <img fetchpriority="low" loading="lazy" class="ui-product-poster-image" src="/src/assets/img/Series/Theclimber/1.webp" alt="10 DANCE, Volume 1" width="1763" height="2530">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="info-wrapper">
                            <a class="info-wrapper-title" href="/product/10-dance-1/">
                                <h3 class="product-name">Volume 1</h3>
                            </a>
                            <div class="date-price-wrapper">
                                <span class="date-pages">
                                    <span>Jan. 22, 2019</span> | <span>230 paginas</span>
                                </span>
                            </div>
                            <span class="details-text">
                                <a href="/product/10-dance-1/">DETALLES</a>
                            </span>
                            <div class="price-grid-desktop undefined">
                                <div class="price-grid">
                                    <div class="price-grid-item">
                                        <div class="prices-wrapper">
                                        </div>
                                        <div class="actions false false">
                                            <div role="button" class="arrow-container false" aria-label="BUY DIGITAL">
                                                <span class="arrow-btn no-arrow text-bold text-bold">Leer Ahora</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-grid-mobile undefined">
                        <div class="price-grid">
                            <div class="price-grid-item">
                                <div class="prices-wrapper">
                                </div>
                                <div class="actions false false">
                                    <div role="button" class="arrow-container false" aria-label="BUY DIGITAL">
                                        <span class="arrow-btn no-arrow text-bold text-bold">LEER AHORA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="series-volume-chapters-container">
                    <span class="series-volume-chapters-plus">+</span>
                    <span class="series-volume-chapters-text">VER CAPITULOS</span>
                </div>
            </div>
            <div class="series-desktop-volume-divider"></div>
        </div>
    </div>
    
    <div class="series-volumeItem">
        <div id="volume-1" class="series-volume-item-top-container series-volume-item-top-container-desktop">
            <div class="series-volume-item-container series-volume-item-container-normal">
                <div class="product-item-column-wrapper">
                    <div class="product-item-wrapper">
                        <a href="/product/10-dance-2/">
                            <div class="ui-product-poster-container false" style="padding-top: 125%;">
                                <div class="ui-product-poster-container-2">
                                    <div class="ui-product-poster-wrapper">
                                        <picture>
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=145, /src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=145 2x" media="(max-width: 991px)">
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=288, /src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/webp" srcset="/src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=405, /src/assets/img/Series/Theclimber/2.webp?f=webp&amp;w=405 2x" media="(min-width: 1200px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=145, /src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=145 2x" media="(max-width: 991px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=288, /src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=288 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/jpeg" srcset="/src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=405, /src/assets/img/Series/Theclimber/2.webp?f=jpeg&amp;w=405 2x" media="(min-width: 1200px)">
                                            <img fetchpriority="low" loading="lazy" class="ui-product-poster-image" src="/src/assets/img/Series/Theclimber/2.webp" alt="10 DANCE, Volume 2" width="1763" height="2530">
                                        </picture>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="info-wrapper">
                            <a class="info-wrapper-title" href="/product/10-dance-2/">
                                <h3 class="product-name">Volume 2</h3>
                            </a>
                            <div class="date-price-wrapper">
                                <span class="date-pages">
                                    <span>Mar. 05, 2019</span> | <span>230 paginas</span>
                                </span>
                            </div>
                            <span class="details-text">
                                <a href="/product/10-dance-2/">DETALLES</a>
                            </span>
                            <div class="price-grid-desktop undefined">
                                <div class="price-grid">
                                    <div class="price-grid-item">
                                        <div class="prices-wrapper">
                                        </div>
                                        <div class="actions false false">
                                            <div role="button" class="arrow-container false" aria-label="BUY DIGITAL">
                                                <span class="arrow-btn no-arrow text-bold text-bold">LEER AHORA</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-grid-mobile undefined">
                        <div class="price-grid">
                            <div class="price-grid-item">
                                <div class="prices-wrapper">
                                </div>
                                <div class="actions false false">
                                    <div role="button" class="arrow-container false" aria-label="BUY DIGITAL">
                                        <span class="arrow-btn no-arrow text-bold text-bold">LEER AHORA</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="series-desktop-volume-divider"></div>
        </div>
    </div>
</div>
</main>
</Layout>
<div style="margin-top: 80px;"></div>
