<div class="KodanshaBrowse">
    <section class="KodanshaBrowse-Inner">
        <header aria-label="EXPLORAR" class="browse-page-header">
            <h1 class="page-title">EXPLORAR</h1>
        </header>
        
        <div class="BrowseComponent">
            <div class="BrowseNavigation-Component">
                <header id="browse-header" class="underlined-group-wrapper">
                    <a aria-label="Manga" class="underlined-group-text underlined-group-text-active" href="/otrapag/?is=true&amp;s=0">
                        Manga
                    </a>
                </header>
                
                <div class="group-button-wrapper">
                    <div class="group-button-wrapper-left">
                        <a class="group-button-text group-button-text-active" href="/otrapag/?is=true&amp;s=0">Series</a>
                        <a class="group-button-text false" href="/otrapag/?is=true&amp;s=0">Nuevos Lanzamientos</a>
                    </div>
                    
                    <div class="group-button-wrapper-right">
                        <a class="release-calendar-link" href="/otrapag">
                            <div role="button" class="arrow-container " aria-label="CALENDARIO DE LANZAMIENTOS">
                                <span class="arrow-btn with-arrow text-bold undefined">CALENDARIO DE LANZAMIENTOS</span>
                                <div class="icon-wrapper">
                                    <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="white" width="80" class="icon">
                                        <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="filter-and-your-list-wrapper">
                <div class="ui-filter-browse-container-for-categorized">
                    <div class="inner-wrapper">
                        <span class="sort-by-title">Ordenar por:</span>
                        <div class="header-filter-wrapper">
                            <div class="select-wrapper">
                                <div class="ui-select-container">
                                    <div class="ui-select-title-wrapper">
                                        <span class="ui-select-title">Nuevo y Popular</span>
                                        <svg viewBox="0 0 10 7" xmlns="http://www.w3.org/2000/svg" fill="white" width="15" class="ui-select-icon">
                                            <path d="m0 .5 5 5 5-5H0Z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="button-wrapper">
                                <button type="button">ver filtros</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="filter-wrapper">
                        <span class="filter-by">Filtrar por:</span>
                        <div class="select-wrapper-in-filter-browse">
                            
                            <!-- Secci贸n ESTADO -->
                            <div class="filter-section-container-for-categorized filter-section-container-for-categorized-less-margin">
                                <div class="fs-divider"></div>
                                <div class="title-icon-wrapper">
                                    <div class="fs-title-for-categorized">ESTADO</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white">
                                        <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
                                        <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
                                    </svg>
                                </div>
                                <div class="collapse-item-wrapper">
                                    <div class="collapsable-items-hide">
                                        <div class="fs-wrapper">
                                            <div class="ui-checkbox-container" aria-label="TODOS">
                                                <label for="TODOS-input-0.40991020358420627" class="checkbox-label">TODOS</label>
                                                <input id="TODOS-input-0.40991020358420627" name="TODOS-input-0.40991020358420627" aria-label="checkbox para TODOS" class="checkbox-input" type="checkbox" checked="">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="ENCURSO">
                                                <label for="ENCURSO-input-0.6692394055237602" class="checkbox-label">ENCURSO</label>
                                                <input id="ENCURSO-input-0.6692394055237602" name="ENCURSO-input-0.6692394055237602" aria-label="checkbox para ENCURSO" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="TERMINADO">
                                                <label for="TERMINADO-input-0.6432245257721774" class="checkbox-label">TERMINADO</label>
                                                <input id="TERMINADO-input-0.6432245257721774" name="TERMINADO-input-0.6432245257721774" aria-label="checkbox para TERMINADO" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Secci贸n PRUEBA (Primera) -->
                            <div class="filter-section-container-for-categorized filter-section-container-for-categorized-less-margin">
                                <div class="fs-divider"></div>
                                <div class="title-icon-wrapper">
                                    <div class="fs-title-for-categorized">PRUEBA</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white">
                                        <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
                                        <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
                                    </svg>
                                </div>
                                <div class="collapse-item-wrapper">
                                    <div class="collapsable-items-hide">
                                        <div class="fs-wrapper">
                                            <div class="ui-checkbox-container" aria-label="PRUEBA1">
                                                <label for="PRUEBA1-input-0.21519341735978081" class="checkbox-label">PRUEBA1</label>
                                                <input id="PRUEB1A-input-0.21519341735978081" name="PRUEBA1-input-0.21519341735978081" aria-label="checkbox para PRUEBA1" class="checkbox-input" type="checkbox" checked="">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="PRUEBA2">
                                                <label for="PRUEBA2-input-0.12746938463017465" class="checkbox-label">PRUEBA2</label>
                                                <input id="PRUEBA2-input-0.12746938463017465" name="PRUEBA2-input-0.12746938463017465" aria-label="checkbox para PRUEBA2" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="PRUEBA3">
                                                <label for="PRUEBA3-input-0.12080967861827807" class="checkbox-label">PRUEBA</label>
                                                <input id="PRUEBA3-input-0.12080967861827807" name="PRUEBA3-input-0.12080967861827807" aria-label="checkbox para PRUEBA3" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Secci贸n GENEROS -->
                            <div class="filter-section-container-for-categorized filter-section-container-for-categorized-less-margin">
                                <div class="fs-divider"></div>
                                <div class="title-icon-wrapper">
                                    <div class="fs-title-for-categorized">GENEROS</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white">
                                        <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
                                        <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
                                    </svg>
                                </div>
                                <div class="collapse-item-wrapper">
                                    <div class="collapsable-items-hide">
                                        <div class="fs-wrapper">
                                            <div class="ui-checkbox-container" aria-label="ACCION &amp; AVENTURA">
                                                <label for="ACCION &amp; AVENTURA-input-0.24090903486038828" class="checkbox-label">ACCION &amp; AVENTURA</label>
                                                <input id="ACCION &amp; AVENTURA-input-0.24090903486038828" name="ACCION &amp; AVENTURA-input-0.24090903486038828" aria-label="checkbox para ACCION &amp; AVENTURA" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="GENERO1">
                                                <label for="GENERO1-input-0.6790442517304843" class="checkbox-label">GENERO1</label>
                                                <input id="GENERO1-input-0.6790442517304843" name="ARTS &amp; ENTERTAINMENT-input-0.6790442517304843" aria-label="checkbox para GENERO1" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="GENERO2">
                                                <label for="GENERO2-input-0.2807358315474976" class="checkbox-label">GENERO2</label>
                                                <input id="GENERO2-input-0.2807358315474976" name="GENERO2-input-0.2807358315474976" aria-label="checkbox para GENERO2" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Secci贸n PRUEBA (Segunda) -->
                            <div class="filter-section-container-for-categorized filter-section-container-for-categorized-less-margin">
                                <div class="fs-divider"></div>
                                <div class="title-icon-wrapper">
                                    <div class="fs-title-for-categorized">PRUEBA</div>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white">
                                        <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
                                        <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
                                    </svg>
                                </div>
                                <div class="collapse-item-wrapper">
                                    <div class="collapsable-items-hide">
                                        <div class="fs-wrapper">
                                            <div class="ui-checkbox-container" aria-label="10+">
                                                <label for="10+-input-0.9675091253048277" class="checkbox-label">10+</label>
                                                <input id="10+-input-0.9675091253048277" name="10+-input-0.9675091253048277" aria-label="checkbox for 10+" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="13+">
                                                <label for="13+-input-0.6179158051600235" class="checkbox-label">13+</label>
                                                <input id="13+-input-0.6179158051600235" name="13+-input-0.6179158051600235" aria-label="checkbox for 13+" class="checkbox-input" type="checkbox">
                                                <span class="checkmark checkmark-animation"></span>
                                            </div>
                                            <div class="ui-checkbox-container" aria-label="16+">
                                            <label for="16+-input-0.31334629362088084" class="checkbox-label">16+</label>
                                            <input id="16+-input-0.31334629362088084" name="16+-input-0.31334629362088084" aria-label="checkbox for 16+" class="checkbox-input" type="checkbox">
                                            <span class="checkmark checkmark-animation"></span>
                                        </div>
                                        
                                        <div class="ui-checkbox-container" aria-label="18+">
                                            <label for="18+-input-0.85627652200557" class="checkbox-label">18+</label>
                                            <input id="18+-input-0.85627652200557" name="18+-input-0.85627652200557" aria-label="checkbox for 18+" class="checkbox-input" type="checkbox">
                                            <span class="checkmark checkmark-animation"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="library-your-list-container">
                <div class="library-your-list-container">
                    
                    <div class="number-of-series-removed-width-top">
                        <div class="number-of-series-removed-width-top-inner">
                            
                            <span aria-label="Mostrando 1-24 de 48 Series" class="number-of-series number-of-series-mobile">
                                Mostrando 1-24 de 48 Series
                            </span>
                            
                            <div class="pages-wrapper-your-list">
                                <div aria-label="page number 1" class="page-number-wrapper page-number-wrapper-active">
                                    <span class="number">1</span>
                                </div>
                                <div aria-label="page number 2" class="page-number-wrapper">
                                    <span class="number">2</span>
                                </div>
                                <div aria-label="page number ..." class="page-number-wrapper">
                                    <span class="number number-default-cursor">...</span>
                                </div>
                                <div aria-label="page number 34" class="page-number-wrapper">
                                    <span class="number">34</span>
                                </div>
                                <img alt="go-to-next-page" 
                                    src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.55 91.55'%3e%3cpath fill='white' d='M5.09 0H0v91.55h91.55V0H5.09zm0 5.09h37.09l38.14 38.14H5.09zm0 81.37V48.32h75.23L42.18 86.46zm81.37 0H49.37l37.09-37.09zm0-44.28L49.37 5.09h37.09z'/%3e%3c/svg%3e" 
                                    class="next-page-icon">
                            </div>
                            
                        </div>
                        
                        <div class="divider"></div>
                    </div>

                    <div class="library-your-list-items-container">
                            <a class="library-your-list-item-container" aria-label="DATA" href="/otrapag">
                                
                                <div class="poster-wrapper">
                                    <div class="ui-series-poster-container ui-series-poster-container-hover" style="padding-top: 140%;">
                                        <div class="ui-series-poster-container-2">
                                            <div class="ui-series-poster-wrapper">
                                                
                                                <picture>
                                                    <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=228&h=375, src/assets/senaT.webp?f=webp&w=228&h=375 2x" media="(max-width: 767px)">
                                                    <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=120&h=250, src/assets/senaT.webp?f=webp&w=120&h=250 2x" media="(min-width: 768px) and (max-width: 991px)">
                                                    <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=191&h=250, src/assets/senaT.webp?f=webp&w=191&h=250 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                    <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=235&h=375, src/assets/senaT.webp?f=webp&w=235&h=375 2x" media="(min-width: 1200px)">
                                                    <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=228&h=375, src/assets/senaT.webp?f=jpeg&w=228&h=375 2x" media="(max-width: 767px)">
                                                    <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=120&h=250, src/assets/senaT.webp?f=jpeg&w=120&h=250 2x" media="(min-width: 768px) and (max-width: 991px)">
                                                    <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=191&h=250, src/assets/senaT.webp?f=jpeg&w=191&h=250 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                                    <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=235&h=375, src/assets/senaT.webp?f=jpeg&w=235&h=375 2x" media="(min-width: 1200px)">
                                                    <img fetchpriority="auto" class="ui-series-poster-image" src="src/assets/senaT.webp" alt="COVER PARA DATA" width="1200" height="960">
                                                </picture>

                                                <div class="colorize" style="background-color: rgb(246, 117, 153);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <span class="name" title="DATA">DATA</span>
                         </a>

                    <a class="library-your-list-item-container" aria-label="DATA 2" href="/otrapag">
                        <div class="poster-wrapper">
                            <div class="ui-series-poster-container ui-series-poster-container-hover" style="padding-top: 140%;">
                                <span class="on-sale ">NUEVO</span>
                                <div class="ui-series-poster-container-2">
                                    <div class="ui-series-poster-wrapper">

                                        <picture>
                                            <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=228&h=375, src/assets/senaT.webp?f=webp&w=228&h=375 2x" media="(max-width: 767px)">
                                            <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=120&h=250, src/assets/senaT.webp?f=webp&w=120&h=250 2x" media="(min-width: 768px) and (max-width: 991px)">
                                            <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=191&h=250, src/assets/senaT.webp?f=webp&w=191&h=250 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/webp" srcset="src/assets/senaT.webp?f=webp&w=235&h=375, src/assets/senaT.webp?f=webp&w=235&h=375 2x" media="(min-width: 1200px)">
                                            <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=228&h=375, src/assets/senaT.webp?f=jpeg&w=228&h=375 2x" media="(max-width: 767px)">
                                            <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=120&h=250, src/assets/senaT.webp?f=jpeg&w=120&h=250 2x" media="(min-width: 768px) and (max-width: 991px)">
                                            <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=191&h=250, src/assets/senaT.webp?f=jpeg&w=191&h=250 2x" media="(min-width: 992px) and (max-width: 1199px)">
                                            <source type="image/jpeg" srcset="src/assets/senaT.webp?f=jpeg&w=235&h=375, src/assets/senaT.webp?f=jpeg&w=235&h=375 2x" media="(min-width: 1200px)">
                                            <img fetchpriority="auto" class="ui-series-poster-image" src="src/assets/senaT.webp" alt="COVER PARA DATA 2" width="1200" height="960">
                                        </picture>

                                            <div class="colorize" style="background-color: rgb(20, 191, 161);"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <span class="name" title="DATA 2">DATA 2</span>
                    </a>

                </div>

                    <div class="divider divider-desktop"></div>

                    <div class="pages-container">
                        <span aria-label="Mostrando 1-24 de 48 Series" class="number-of-series number-of-series-desktop">
                            Mostrando 1-24 de 48 Series
                        </span>
                        
                        <div class="pages-wrapper-your-list">
                            <div aria-label="page number 1" class="page-number-wrapper page-number-wrapper-active">
                                <span class="number">1</span>
                            </div>
                            <div aria-label="page number 2" class="page-number-wrapper">
                                <span class="number">2</span>
                            </div>
                            <div aria-label="page number ..." class="page-number-wrapper">
                                <span class="number number-default-cursor">...</span>
                            </div>
                            <div aria-label="page number 34" class="page-number-wrapper">
                                <span class="number">34</span>
                            </div>
                            <img alt="go-to-next-page" 
                                src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91.55 91.55'%3e%3cpath fill='white' d='M5.09 0H0v91.55h91.55V0H5.09zm0 5.09h37.09l38.14 38.14H5.09zm0 81.37V48.32h75.23L42.18 86.46zm81.37 0H49.37l37.09-37.09zm0-44.28L49.37 5.09h37.09z'/%3e%3c/svg%3e" 
                                class="next-page-icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>