.BrowseGenreListStrip {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.BrowseGenreListStrip .genre-browse-container {
  margin-top: 0;
}

.genre-browse-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  color: #fff;
  max-width: 1400px;
  margin-top: 50px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.genre-browse-container .genre-browse-book-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px auto 0;
}

.genre-browse-container .genre-browse-book-header-wrapper .genre-browse-book-header {
  font-weight: 700;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  text-transform: uppercase;
  height: 100%;
  margin: 0;
  line-height: 30px;
  font-size: 26pt;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .genre-browse-container .genre-browse-book-header-wrapper .genre-browse-book-header {
    font-size: 22pt;
  }
}

@media screen and (max-width: 400px) {
  .genre-browse-container .genre-browse-book-header-wrapper .genre-browse-book-header {
    font-size: 20pt;
  }
}

.genre-browse-container .genre-browse-book-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin: 30px auto 0;
}

@media screen and (min-width: 768px) {
  .genre-browse-container .genre-browse-book-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.genre-browse-container .genre-browse-book-grid-wrapper .genre-browse-book-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 12pt;
  border: 2px solid #fff;
  font-weight: 100;
  font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
  min-height: 75px;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .genre-browse-container .genre-browse-book-grid-wrapper .genre-browse-book-link {
    font-size: 16pt;
  }
}

.genre-browse-container .genre-browse-book-grid-wrapper .genre-browse-book-link:visited {
  color: #fff;
}

.genre-browse-container .genre-browse-book-grid-wrapper .genre-browse-book-link:hover {
  background-color: #fff;
  color: #000;
}

.genre-browse-container .browse-all-link {
  align-self: flex-end;
  height: fit-content;
  color: #000;
  text-decoration: none;
  margin-top: 30px;
}

.genre-browse-container .browse-all-link:hover {
  color: #000;
  text-decoration: none;
}

.genre-browse-container .arrow-container {
  align-self: flex-end;
  min-width: 200px;
  height: 40px;
}

.genre-browse-container .arrow-container:hover {
  border-color: #fff;
}

.genre-browse-container .arrow-container .arrow-btn {
  font-weight: 100;
  font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
  font-size: 14pt;
  letter-spacing: 0;
}