<div class="ArticleStrip">
  <div class="BrowseGenreListStrip">
    <div class="genre-browse-container">
      <div class="genre-browse-book-header-wrapper">
        <h2 aria-label="Browse by Genre" class="genre-browse-book-header">Busqueda por genero</h2>
      </div>
      <div class="genre-browse-book-grid-wrapper">
        <a aria-label="link to ACTION &amp; ADVENTURE" class="genre-browse-book-link" href="/browse/?g=12">ACTION &amp; ADVENTURE</a>
        <a aria-label="link to COMEDY" class="genre-browse-book-link" href="/browse/?g=9">COMEDIA</a>
        <a aria-label="link to ROMANCE" class="genre-browse-book-link" href="/browse/?g=2">ROMANCE</a>
        <a aria-label="link to FANTASY" class="genre-browse-book-link" href="/browse/?g=4">SCI-FI</a>
        <a aria-label="link to DRAMA" class="genre-browse-book-link" href="/browse/?g=1">DRAMA</a>
        <a aria-label="link to HORROR" class="genre-browse-book-link" href="/browse/?g=6">HORROR</a>
      </div>
      <a class="browse-all-link" href="/browse/">
        <div role="button" class="arrow-container invert" aria-label="browse all">
          <span class="arrow-btn with-arrow text-bold undefined">Ver Todos</span>
          <div class="icon-wrapper">
            <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="white" width="80" class="icon">
              <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>