.home-ntspicks {
    margin-bottom: 0;
    padding-top: 24px
}

.home-ntspicks__header {
    margin-bottom: 14px
}

.home-ntspicks__subtitle {
    margin-bottom: 0
}

.home-ntspicks__loading-state .nts-grid-v2-item__content {
    height: 100%
}

.home-ntspicks__loading-state-item-header {
    height: 90px
}

.home-ntspicks__grid {
    display: none
}

.home-ntspicks .horizontal-scroll-grid__items {
    padding: 0
}

@media(min-width: 768px) {
    #home {
        border-top:1px solid #fff
    }

    #home .collection__subtitle,#home .collection__title {
        padding-left: 12px
    }

    #home .horizontal-scroll-grid__items {
        padding-left: 0
    }

    .home-ntspicks {
        padding-bottom: 22px
    }

    .home-ntspicks #explore__title,.home-ntspicks .page-heading {
        display: inline-block;
        margin: 0;
        margin-right: 16px
    }

    .home-incoming__heading {
        margin-bottom: 14px;
        padding: 0 12px 4px
    }

    .home-incoming .nts-grid--incoming {
        padding: 0 24px
    }
}

@media(min-width: 1025px) {
    #home .collection__subtitle,#home .collection__title {
        padding-left:24px
    }

    #home .horizontal-scroll-grid__items {
        padding-left: 12px
    }

    .home-landing {
        margin-top: 0
    }

    #home .home-ntspicks__header>.collection__title {
        padding-left: 0
    }

    .home-ntspicks__slider {
        display: none
    }

    .home-ntspicks__grid {
        display: block;
        padding: 0 24px
    }

    .home-ntspicks__grid .nts-grid-v2-item:nth-last-child(-n+4) {
        display: none
    }

    .home-ntspicks__loading-state .nts-grid-v2-item__content {
        height: auto
    }

    .home-ntspicks__loading-state-item-header {
        height: 80px
    }
}

@media(min-width: 1190px) {
    .home-ntspicks__grid .nts-grid-v2-item:nth-last-child(-n+4) {
        display:block
    }

    .home-ntspicks__grid .nts-grid-v2-item:nth-last-child(-n+2) {
        display: none
    }
}

@media(min-width: 1500px) {
    .home-ntspicks__grid .nts-grid-v2-item:nth-last-child(-n+2) {
        display:block
    }
}