<!-- CONTENEDOR PRINCIPAL DE LA PÃGINA DE INICIO -->
<div id="home">
<section id="home-ntspicks" class="home-ntspicks grid-set collection">
    <div class="home-ntspicks__slider">
        <header class="home-ntspicks__header">
            <a href="/nts-picks" class="nts-link nts-app">
                <h3 class="collection__title">NTS Picks<svg class="nts-icon nts-icon--inverted nts-icon--inline nts-icon--inline--l" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                    <path d="M150 117l60-61 240 244-240 244-60-61 180-183-180-183z"></path></svg>
                </h3>
            </a>
            <p class="collection__subtitle home-ntspicks__subtitle">Recent radio highlights hand picked by NTS.</p>
        </header>
        <div class="horizontal-scroll-grid">
            <div class="horizontal-scroll-grid__items nts-grid-v2 nts-grid-v2--horizontal">
                <article class="nts-grid-v2-item collection__content__episodes__item">
                    <div class="nts-grid-v2-item__content">
                        <div class="nts-grid-v2-item__img-container">
                            <div class="nts-grid-picture">
                                <img class="nts-grid-picture__img" src="https://media.ntslive.co.uk/resize/400x400/5252a7aa-27ed-4f14-b0f1-5d54924be985_1747267200.jpeg" alt="NTS Guide to: Euro Thrash Metal Demos 15.05.25 Radio Episode">
                                <button class="nts-grid-picture__overlay mixcloud-btn " 
                                        data-src="https://soundcloud.com/user-643553014/nts-guide-to-euro-thrash-metal" 
                                        data-permalink="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" 
                                        data-event-label="from-collection" 
                                        data-thumbnail="https://media3.ntslive.co.uk/resize/100x100/5252a7aa-27ed-4f14-b0f1-5d54924be985_1747267200.jpeg" 
                                        data-episode-name="NTS Guide to: Euro Thrash Metal Demos" 
                                        data-episode-date="15.05.25" 
                                        data-episode-location-long="London" 
                                        data-collection-alias="ntsPicks">
                                <svg class="nts-icon nts-icon--l nts-icon--overlay" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><title>Play</title>
                                    <g id="_x33_--Hidden-_x28_closing-up_x29_-" transform="translate(-772 -385)">
                                        <g id="Drawer" transform="translate(0 43)">
                                            <g id="_x32_" transform="translate(18)">
                                                <path id="play" d="M1260.4 651.3L882.8 861.2c-4.4 2.4-8.2 2.7-11.2 1-3.1-1.7-4.6-5.1-4.6-10.2V433.2c0-4.8 1.5-8.2 4.6-10.2 3.1-2 6.8-1.7 11.2 1l377.6 210c4.4 2.4 6.6 5.3 6.6 8.7 0 3.3-2.2 6.2-6.6 8.6z"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <a class="nts-grid-v2-item__header nts-app" href="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" data-track="event" data-origin="from-collectionTitle" data-target="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025"><div class="nts-grid-v2-item__header-details"><span style="flex-shrink: 0;">15.05.25</span><div class="text-overflow-ellipsis"><span class="text-uppercase">London</span></div></div><div class="nts-grid-v2-item__header__title">NTS Guide to: Euro Thrash Metal Demos</div></a><div class="nts-grid-v2-item__footer"><a class="nts-tag nts-app" data-tag-id="metal-thrash" href="/explore/genre/metal-thrash" data-track="event" data-origin="from-collectionTag" data-target="genres-metal-thrash">Thrash</a></div></div><a class="nts-grid-v2-item__extra nts-app nts-link" href="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" data-track="event" data-origin="from-collectionTracklistLink" data-target="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025">Tracklist</a></article><div class="collection__content__episodes__item nts-grid-v2-item"><div class="nts-grid-v2-item__content nts-grid-v2-item__content--empty"><a class="nts-grid-v2-item__content--empty__empty-link nts-link nts-app" href="/nts-picks" data-track="event" data-origin="from-endOfCollection"><div>VIEW ALL</div></a></div></div></div></div></div><div class="home-ntspicks__grid"><header class="home-ntspicks__header"><h3 class="collection__title">NTS Picks</h3><a href="/nts-picks" class="collection__link nts-link nts-app">VIEW ALL<!-- --> <svg class="nts-icon nts-icon--inverted nts-icon--inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><path d="M150 117l60-61 240 244-240 244-60-61 180-183-180-183z"></path></svg></a></header><div class="nts-grid-v2"><article class="nts-grid-v2-item "><div class="nts-grid-v2-item__content"><div class="nts-grid-v2-item__img-container"><div class="nts-grid-picture"><img class="nts-grid-picture__img" src="https://media.ntslive.co.uk/resize/400x400/5252a7aa-27ed-4f14-b0f1-5d54924be985_1747267200.jpeg" alt="NTS Guide to: Euro Thrash Metal Demos 15.05.25 Radio Episode"><button class="nts-grid-picture__overlay mixcloud-btn " data-src="https://soundcloud.com/user-643553014/nts-guide-to-euro-thrash-metal" data-permalink="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" data-event-label="page_home" data-thumbnail="https://media3.ntslive.co.uk/resize/100x100/5252a7aa-27ed-4f14-b0f1-5d54924be985_1747267200.jpeg" data-episode-name="NTS Guide to: Euro Thrash Metal Demos" data-episode-date="15.05.25" data-episode-location-long="London" data-collection-alias=""><svg class="nts-icon nts-icon--l nts-icon--overlay" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600"><title>Play</title><g id="_x33_--Hidden-_x28_closing-up_x29_-" transform="translate(-772 -385)"><g id="Drawer" transform="translate(0 43)"><g id="_x32_" transform="translate(18)"><path id="play" d="M1260.4 651.3L882.8 861.2c-4.4 2.4-8.2 2.7-11.2 1-3.1-1.7-4.6-5.1-4.6-10.2V433.2c0-4.8 1.5-8.2 4.6-10.2 3.1-2 6.8-1.7 11.2 1l377.6 210c4.4 2.4 6.6 5.3 6.6 8.7 0 3.3-2.2 6.2-6.6 8.6z"></path></g></g></g></svg></button></div></div><a class="nts-grid-v2-item__header nts-app" href="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" data-track="event" data-origin="page_homeTitle" data-target="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025"><div class="nts-grid-v2-item__header-details"><span style="flex-shrink: 0;">15.05.25</span><div class="text-overflow-ellipsis"><span class="text-uppercase">London</span></div></div><div class="nts-grid-v2-item__header__title">NTS Guide to: Euro Thrash Metal Demos</div></a><div class="nts-grid-v2-item__footer"><a class="nts-tag nts-app" data-tag-id="metal-thrash" href="/explore/genre/metal-thrash" data-track="event" data-origin="page_homeTag" data-target="genres-metal-thrash">Thrash</a></div></div><a class="nts-grid-v2-item__extra nts-app nts-link" href="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025" data-track="event" data-origin="page_homeTracklistLink" data-target="/shows/the-nts-guide-to/episodes/the-nts-guide-to-euro-thrash-metal-demos-15th-may-2025">Tracklist</a></article></div></div></section>
</div>