@import "@/mixins/utilities.scss";

button {
    background: 0 0;
    border: none
}

.KITH-button {
    @include font-bold();
    padding: 13px 24px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    font-size: .75rem;
    line-height: 18px;
    letter-spacing: .10em;
    text-decoration: none;
    transition: color .1s;
}

.KITH-button:focus,.KITH-button:hover {
    background-color: #ccc;
    border-color: #ccc;
}

.KITH-button:disabled {
    background-color: #4c4c4c;
    border-color: #4c4c4c;
}

.KITH-button:visited {
    color: #000;
}

/* =======================================
            BOTON DE FLECHA
========================================*/


.arrow-container {
  display: flex;
  flex-direction: row;
  width: auto;
  color: #ffffff;
  border: 2px solid #ffffff;
  height: 35px;
  overflow: hidden;
  min-height: 35px;
  cursor: pointer;
}

.arrow-container .arrow-btn {
  width: 95%;
  height: auto;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  border-right: 2px solid #ffffff;
  font-size: 11px;
  padding: 4px 10px 0 10px;
  letter-spacing: 2px;
  align-items: center;
  font-family: Maax-Core, Maax, serif;
}

.arrow-container .with-arrow.disabled {
  border-right: 2px solid #757575;
}

.arrow-container .no-arrow {
  width: 100%;
  border-right: none;
  padding: 3px 10px 0 10px;
}

.arrow-container .icon-wrapper {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  flex-shrink: 0;
  flex-grow: 1;
}

.arrow-container .icon-wrapper .icon {
  width: auto;
  transform: scaleY(1.05);
  height: 100%;
}

@keyframes move {
  from {
    transform: translateX(-40px);
  }
  to {
    transform: translateX(0px);
  }
}

.arrow-container .text-bold {
  font-size: 14px;
  font-weight: 100;
  font-family: Maax-Medium-Core, Maax-Medium, sans-serif;
  letter-spacing: 1px;
}

.arrow-container.disabled {
  border: 2px solid #75757573;
  cursor: default;
}

.arrow-container.disabled .arrow-btn {
  background-color: #2b2b2b;
  border-color: #75757573;
  color: #ababab;
}

.arrow-container.disabled .icon-wrapper {
  background-color: #2b2b2b;
}

.arrow-container.invert {
  filter: invert(1);
}

.arrow-container:not(.disabled):hover {
  color: #fff;
  background-color: #8f8f8f;
}

.arrow-container:not(.disabled):hover .arrow-btn {
  border: none;
  border-right: 2px solid #fff;
}

.arrow-container:not(.disabled):hover .no-arrow {
  border-right: none;
}

.arrow-container:not(.disabled):hover .icon {
  filter: invert(0);
  animation: move 300ms;
}
