.hero-card-layout__header--aT-8l {
    aspect-ratio: 16/9;
    display: grid;
    grid-column: 4/span 6;
    grid-row: 1/1;
    grid-template-areas: "label label label" " . logo .";
    grid-template-columns: 1fr minmax(0,auto) 1fr;
    grid-template-rows: 1fr minmax(0,auto);
    max-height: min(20rem,100%);
    max-width: 37.5rem;
    min-height: 0;
    position: absolute;
    width: 100%;
    bottom:340px;
    left: 16px;
}
@media (max-width: 49.99em) {
  .hero-card-layout__header--aT-8l {
    left: calc(50% - (100% / 1.8));
  }
}
@media(min-width: 50em) {
    .hero-card-layout__header--aT-8l {
        grid-column: 1/span 4;
        grid-template-areas: "label label" "logo .";
        grid-template-columns: minmax(0,auto) 1fr;
    }

    .hero-card-layout__header-label--45aIO {
        align-items: start;
        text-align: start
    }

    .hero-card-layout__logo-img--z2De7 {
        object-position: bottom left
    }
}

@media(min-width: 64em) {
    .hero-card-layout__header--aT-8l {
        grid-column:1/span 3;
    
    }

    .hero-card-layout__header-label--45aIO {
        margin-block-end:.75rem}
}

.hero-card-layout__header-label--45aIO {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    grid-area: label;
    inset-block-end: 0;
    inset-inline-start: 0;
    margin-block-end:.5rem;position: absolute;
    text-align: center;
    width: 100%
}

.hero-card-layout__logo--KHmlZ {
    grid-area: logo;
    height: 100%;
    /* width:100%; */
}

.hero-card-layout__logo--KHmlZ:focus {
    outline: .25rem solid #a0a0a0;
    outline-offset: 0
}

.hero-card-layout__logo--KHmlZ:active {
    outline: none
}

.hero-card-layout__logo-img--z2De7 {
    display: block;
    height: 100%;
    object-fit: contain;
    object-position: bottom center;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.4,0,1,1);
    width: 100%
}

.hero-card-layout__logo-img--is-ready--7E-O3 {
    opacity: 1
}