.KITH-icono-xs {
    height: 12px;
    width: 12px
}

.KITH-icono-ss {
    height: 14px;
    width: 14px
}

.KITH-icono-s {
    height: 20px;
    width: 20px
}

.KITH-icon--inline {
    position: relative;
    top: -.1em;
    height: .875em;
    width: .875em
}

.KITH-icon--inline--l {
    height: .66em;
    width: .66em;
    margin-left: .25em
}

.KITH-icon--inline--xl {
    height: .85em;
    width: .85em;
    margin-left: .25em
}

.KITH-icon--inline--xxl {
    height: 1em;
    width: 1em
}

.KITH-icon--inline-alt {
    position: relative;
    top: -.1em
}