.SeriesDestacadas {
  width: min(1400px, 95%);
}

.SeriesDestacadas-container {
  margin-top: 0;
}

.SeriesDestacadas h2 {
  font-weight: 700;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: -2.5px;
  color: white;
}



.SeriesDestacadas h3 {
  font-weight: 300;
  font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-left: -1.5px;
  color: white;
}

.SeriesDestacadas-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 992px) {
  .SeriesDestacadas-list {
    flex-direction: row;
  }
}

.SeriesDestacadas-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 7.5px);
  gap: 7px;
}

.SeriesDestacadas-imagen {
  position: relative;
  display: flex;
  flex-direction: column;
}

.SeriesDestacadas-info {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 7px 10px 4px 10px;
  color: white;
  background-color: black;
}

.SeriesDestacadas-itemFooter {
  display: flex;
  justify-content: space-between;
}

.SeriesDestacadas-itemFooter-izquierda {
  display: flex;
  flex-direction: column;
}

.SeriesDestacadas-itemFooter-derecha {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.SeriesDestacadas-titulo {
  font-weight: 700;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  font-size: 20pt;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.SeriesDestacadas-titulo:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
  cursor: pointer; /* Añadimos esta línea para cambiar el cursor a la mano */
}

.SeriesDestacadas-autor {
  font-size: 12pt;
  color: #b3b2b2;
  text-decoration: none;
  margin-bottom: 5px;
}

.SeriesDestacadas-autor:hover {
  text-decoration: none;
  color: #757575
}

.SeriesDestacadas-itemFooter-derecha .flecha-contenedor {
  min-height: 28px;
  height: 28px;
}

.SeriesDestacadas-itemFooter-derecha .flecha-contenedor .text-bold {
  letter-spacing: 0;
}

.SeriesDestacadas-itemFooter-derecha .flecha-boton {
  padding: 3px 10px 0 10px;
}

/* ==========================================
  2. Poster
===========================================*/

.Poster-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f1f1f1; 
  position: relative;
  user-select: none;
  transition: opacity 125ms ease-out, background-color 125ms ease-out;
}

.Poster-contenedor-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Poster-contenedor-wrapper {
  width: 100%;
  height: 100%;
  background-color: var(--color-c6); 
  overflow: hidden;
}

.Poster-contenedor-imagen {
  width: 100%;
  max-width: 100%;
  filter: grayscale(100%);
  height: 100%;
  pointer-events: none;
  user-select: none;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Poster-contenedor.Poster-contenedor-hover .colorize {
  cursor: pointer;
}

.Poster-contenedor.Poster-contenedor-hover .colorize:hover {
  opacity: 0.6;
}

