.Slider {
    overflow-x: hidden;
}

.Slider-tape {
    display: flex;
    flex-direction: row;
    gap: var(--slider-gap-small);
}

.Slider-item {
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    width: calc((100% - var(--slider-gap-small)) / 2.2);
}

@media (min-width: 768px) {
    .Slider-tape {
        gap: var(--slider-gap-large);
    }

    .Slider-item {
        width: min((var(--slider-width) - (var(--slider-count) - 1) * var(--slider-gap-large)) / var(--slider-count), (100% - (var(--slider-count) - 1) * var(--slider-gap-large)) / var(--slider-count));
    }
}