<div class="p-movie__play">
<div class="p-movie__play-border">
<div class="p-movie__play-border-item">&nbsp;</div>
</div>

<div class="p-movie__play-deco">&nbsp;</div>

<div class="p-movie__play-text">&nbsp;</div>
</div>

<div class="p-movie__bg js-movie-bg" data-movie-id="s-jT-Q-fVa0">
<div class="p-movie__bg-item is-active is-playing" id="youtubePlayer">&nbsp;<div id="youtubePlayer_player_wrap"><iframe id="youtubePlayer_player" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="Gachiakuta Anime Series Teaser PVï¼Set for Release in July 2025" src="https://www.youtube.com/embed/s-jT-Q-fVa0?fs=1&amp;rel=0&amp;wmode=transparent&amp;enablejsapi=1&amp;html5=1&amp;iv_load_policy=3&amp;disablekb=1&amp;autoplay=1&amp;loop=0&amp;controls=0&amp;modestbranding=1&amp;playsinline=1&amp;origin=https%3A%2F%2Fgachiakuta-anime.com&amp;widgetid=1&amp;forigin=https%3A%2F%2Fgachiakuta-anime.com%2Fen%2F&amp;aoriginsup=1&amp;gporigin=https%3A%2F%2Fwww.google.com%2F&amp;vf=1"></iframe></div><div id="youtubePlayer_ui">
  
  
    <div class="display_time">00:53/00:56</div>
  <div class="display_time_now">00:53</div>
  <div class="display_time_total">00:56</div>
  <div class="display_time_par">94.4%</div>
  <button class="btn_play btn is-playing">play</button>
  <button class="btn_pause btn is-playing">pause</button>
  <button class="btn_stop btn">stop</button>
  <button class="btn_mute btn">mute</button>
  <button class="btn_full btn">full screen</button>
  <div class="seekbar_time"><div class="seekbar_time_bg"></div><span style="width: 94.4%;"></span></div>
  <div class="seekbar_vol"><div class="seekbar_vol_bg"></div><span style="width: 0%;"></span></div>
  <button class="btn_volon btn">volume on</button>
  <button class="btn_voloff btn">volume off</button>
  <div class="display_poster"><img src="//i.ytimg.com/vi/s-jT-Q-fVa0/maxresdefault.jpg" alt=""></div>
  <div class="display_poster_background" style="background-image: url(&quot;//i.ytimg.com/vi/s-jT-Q-fVa0/maxresdefault.jpg&quot;);"></div>
  <div class="display_name"></div>
</div>

<style id="youtubePlayer_style">
#youtubePlayer {
  position: relative;
}
#youtubePlayer .on {
  display: none;
}
#youtubePlayer .off {
  display: block;
}
#youtubePlayer .btn_play {
  width: 120px;
  display: block;
  cursor: pointer;
}
#youtubePlayer .btn_play.active {
  display: none;
}
#youtubePlayer .btn_play:hover .on {
  display: block;
}
#youtubePlayer .btn_play:hover .off {
  display: none;
}
#youtubePlayer .btn_pause {
  width: 120px;
  display: none;
  cursor: pointer;
}
#youtubePlayer .btn_pause.active {
  display: block;
}
#youtubePlayer .btn_pause:hover .on {
  display: block;
}
#youtubePlayer .btn_pause:hover .off {
  display: none;
}
#youtubePlayer .btn_stop {
  width: 120px;
  cursor: pointer;
}
#youtubePlayer .btn_stop.active {
  display: block;
}
#youtubePlayer .btn_stop:hover .on {
  display: block;
}
#youtubePlayer .btn_stop:hover .off {
  display: none;
}
#youtubePlayer .btn_mute {
  width: 120px;
  cursor: pointer;
}
#youtubePlayer .btn_mute.active .on {
  display: block;
}
#youtubePlayer .btn_mute.active .off {
  display: none;
}
#youtubePlayer .seekbar_vol {
  width: 100%;
  height: 13px;
  padding: 4px 0;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#youtubePlayer .seekbar_vol .seekbar_vol_bg {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px 0;
}
#youtubePlayer .seekbar_vol span {
  display: block;
  width: 0%;
  height: 100%;
  background: #666;
  position: relative;
  transition: all .1s ease 0s;
}
#youtubePlayer .seekbar_time {
  width: 100%;
  height: 13px;
  padding: 4px 0;
  position: relative;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#youtubePlayer .seekbar_time .seekbar_time_bg {
  width: 100%;
  height: 5px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4px 0;
}
#youtubePlayer .seekbar_time span {
  display: block;
  width: 0%;
  height: 100%;
  background: #666;
  position: relative;
  transition: all .1s ease 0s;
}
#youtubePlayer .display_poster img {
  max-width: 100%;
}

        #youtubePlayer_player_wrap {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          overflow: hidden;
        }
        #youtubePlayer_player_wrap iframe {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }
      
        #youtubePlayer_player_wrap {
          position: relative;
        }
        #youtubePlayer_player_wrap::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      </style></div>
</div>
</div>