<div class="ArticleStrip">
    <div class="SeriesDestacadas">
        <h3>SERIES DESTACADAS</h3>
        <h2>CABRO VOID</h2>
    <div class="SeriesDestacadas-list">

        <!---------- Item 1 ---------->
  <div class="SeriesDestacadas-item">
    <div class="SeriesDestacadas-imagen">
        <a href="/series/YeffersonWbn/">
        <div class="Poster-contenedor Poster-contenedor-hover" style="padding-top: 60%;">
          <div class="Poster-contenedor-2">
            <div class="Poster-contenedor-wrapper">
              <img fetchpriority="high" loading="eager" class="Poster-contenedor-imagen" src="src/assets/sena.webp" alt="Yefferson Wbn" width="1200" height="960" style="filter: grayscale(0%);">
              <div class="colorize" style="background-color: rgb(20, 191, 161);"></div>
            </div>
          </div>
        </div>
      </a>
    <div class="SeriesDestacadas-info">Hasta 4/28</div>
</div>

    <div class="SeriesDestacadas-itemFooter">
        <div class="SeriesDestacadas-itemFooter-izquierda">
        <a class="SeriesDestacadas-titulo" href="/series/YeffersonWbn/">TITULO DE OBRA</a>
        <a class="SeriesDestacadas-autor" href="/series/YeffersonWbn/">AUTOR</a>
      </div>
      <div class="SeriesDestacadas-itemFooter-derecha">
        <a href="/reader/YeffersonWbn/cap 1/">
          <div role="button" class="flecha-contenedor" aria-label="LEER">
            <span class="flecha-boton with-arrow text-bold">LEER</span>
            <div class="icono-wrapper">
              <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="white" width="80" class="icono">
                <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
