<div id="contenedor-cargando">
  <img src="/src/assets/rat.gif" alt="Cargando..." class="loader-imagen">

  <p id="loading-txt">CARGANDO</p>
</div>

<script>
    const contenedorCargando = document.getElementById('contenedor-cargando');
    const contenidoPrincipal = document.getElementById('contenido-principal');
    const txtLoad = document.getElementById('loading-txt')
    function getRandomInt(min: number, max: number) {
    return Math.floor(Math.random() * (max-min)+min);
    }
    const tiempoCarga = getRandomInt(500,4000); // Tiempo en milisegundos (ej: 3 segundos)
    let cargaCompleta = false;
    window.onload = function() {
        cargaCompleta = true;
        /*txtDots();*/
        ocultarCargandoSiListo();
    };
    function ocultarCargando() {
        if (contenedorCargando) contenedorCargando.style.display = 'none';
        if (contenidoPrincipal) contenidoPrincipal.style.display = 'block';
    }
    function ocultarCargandoSiListo() {
        if (cargaCompleta) {
            /*txtDots();*/
            setTimeout(ocultarCargando, tiempoCarga);
        }
    }

    /*function vacio(){}

    function txtDots(){
        for(let i=1; i<=3; i++){
            setTimeout(vacio, tiempoCarga)
            switch (i){
                case 1: if(txtLoad) txtLoad.innerText = 'Cargando.'; break;
                case 2: if(txtLoad) txtLoad.innerText = 'Cargando..'; break;
                case 3: if(txtLoad) txtLoad.innerText = 'Cargando...'; break;
            }
        } 
    }*/
</script>