#contenedor-cargando {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.loader-imagen {
    width: 350px; /* Ajusta el tamaño de tu imagen */
    height: 350px; /* Ajusta el tamaño de tu imagen */
    margin-bottom: 50px;
}

#txtLoad {
    margin: 0;
    font-weight: 700;
    font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
    font-size: 30px;
}

#contenido-principal {
    display: none;
}