<div id="contenedor-cargando">
  <a href="/src/components/Content/txtCargando.astro"><img src="/src/assets/rat.gif" alt="Cargando..." class="loader-imagen"></a>
  <br>
  <div class="txt-cargando">
    <p id="txtLoad">
        Cargando
    </p>
  </div>
  
</div>

<script>
    const contenedorCargando = document.getElementById('contenedor-cargando');
    const contenidoPrincipal = document.getElementById('contenido-principal');
    function getRandomInt(min: number, max: number) {
    return Math.floor(Math.random() * (max-min)+min);
    }
    const tiempoCarga = getRandomInt(500,4000); // Tiempo en milisegundos (ej: 3 segundos)
    let cargaCompleta = false;
    window.onload = function() {
        cargaCompleta = true;
        ocultarCargandoSiListo();
    };
    function ocultarCargando() {
        if (contenedorCargando) contenedorCargando.style.display = 'none';
        if (contenidoPrincipal) contenidoPrincipal.style.display = 'block';
    }
    function ocultarCargandoSiListo() {
        if (cargaCompleta) {
            setTimeout(ocultarCargando, tiempoCarga);
        }
    }

    let time=0;
    function timer(){
        time=time+500;
        return time;
    }

    const txtLoad = document.getElementById('txtLoad');
    function txtC1(){if(txtLoad) txtLoad.innerText = 'Cargando .';}
    function txtC2(){if(txtLoad) txtLoad.innerText = 'Cargando . .';}
    function txtC3(){if(txtLoad) txtLoad.innerText = 'Cargando . . .';}
    
    
    
    while(time<=4000){
        cargandoTxt();
        cargandoTxt();
        cargandoTxt();
    }
    function cargandoTxt(){
        setTimeout(txtC1, timer())
        setTimeout(txtC2, timer())
        setTimeout(txtC3, timer())
    }

</script>