.banner-ad {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #fff;
    height: 100vw;
    width: 100%;
    min-height: 320px;
    position: relative;
    opacity: 1;
}

.banner-ad__poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}


.banner-ad__video iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  object-fit: cover;
}

#play-button {
  display: none !important; /* Fuerza que no se muestre */
}

.banner-ad__bg-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

.banner-ad__bg-image--medium {
    display: none
}

.banner-ad__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%; 
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.banner-ad__overlay {
    background-color: #000;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2
}

.banner-ad__info {
    padding: 0 0px;
    position: relative;
    text-align: center;
    z-index: 2
}

.banner-ad__cta {
    display: inline-block
}

.banner-ad__heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 18px
}

.banner-ad__description {
    margin: 0;
    margin-bottom: 24px
}

@media(min-width: 768px) {
    .banner-ad {
        height:auto
    }

    .banner-ad__bg-image--small {
        display: none
    }

    .banner-ad__bg-image--medium {
        display: block
    }
}

@media(min-width: 1025px) {
    .banner-ad {
        min-height:480px;
        overflow: hidden
    }

    .banner-ad__bg-image--medium {
        display: none
    }

    .banner-ad__video {
        transform: translate(-50%,-50%);
        display: block;
        height: 100vw;
        left: 50%;
        top: 50%;
        object-fit: cover;
        position: absolute;
        width: 100%;
        z-index: 0
    }

    .banner-ad__info {
        max-width: 500px
    }

    .banner-ad__heading {
        font-size: 42px;
        line-height: 42px
    }
}

@media(prefers-reduced-motion) {
    .banner-ad__bg-image--medium {
        display: block
    }

    .banner-ad__video {
        display: none
    }
}

