---
/* ==========================================
  1. IMPORTS STYLES GLOBALES
===========================================*/
import './src/mixins/utilities.scss' 
import './src/styles/Reboot.scss' 
import './src/styles/stylefunciona.css' 
import './src/styles/KithAbout.scss'
/* ==========================================
  2. IMPORTS COMPONENTES
===========================================*/
import Rata from '@/components/Content/rata.astro';
import HEADER from "src/components/Header/Header.astro";
import FOOTER from "src/components/Footer/Footer.astro"; 
/* ==========================================
  2. IMPORTS STYLES COMPONENTES
===========================================*/
import './src/components/Header/Header.scss'
---

<!doctype html>
<html lang="es" style="padding-right: 0px; overflow: auto;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<title>Taller Web Proyecto</title>
	</head>
	<body class="scroll" style="overflow: unset">
    <HEADER/>
        <!-- 
        Página "Sobre Nosotros" de kith
        Este archivo contiene la estructura HTML de la sección "About" del sitio web de kith,
        una editorial japonesa fundada en 1909 que publica manga, libros y otros contenidos.
        -->

        <div class="kith-about">
        <!-- Imagen principal de cabecera -->
        <img class="hero-image" src="src/assets/sena.jpg" alt="kith About">
        
        <!-- Sección introductoria sobre kith -->
        <div class="kith-about-inner-wrapper">
            <div class="paired-content paired-content-top">
            <!-- Título principal de la página -->
            <div class="paired-content-lhs">
                <h1>ABOUT <br> US</h1>
            </div>
            
            <!-- Contenido introductorio sobre la historia y misión de kith -->
            <div class="paired-content-rhs">
                <div class="kith-about-intro">
                <h2>KITH....</h2>
                
                <p>Nuestra página web, KITH, está dedicada a publicar cómics, mangas y obras de arte digital creadas por personas que desean compartir sus historias ficticias con una comunidad internacional apasionada. Todo el contenido se publica de forma completamente gratuita, sin fines de lucro ni beneficios para nosotros. KITH nace del amor por el manga, creado por fanáticos para fanáticos, con el único propósito de dar visibilidad y celebrar la creatividad de quienes comparten esta misma pasión. ¡Gracias por ser parte de esta comunidad!</p>
                
                <h2>Alimentando la creatividad</h2>
                </div>
            </div>
            </div>
        </div>
        
        <!-- Separador entre secciones -->
        <div class="about-divider"></div>
        
        <!-- Sección de productos y series principales de kith -->
        <div class="kith-about-inner-wrapper">
            <!-- Sección sobre manga -->
            <div class="paired-content">
            <!-- Imagen ilustrativa de One piece -->
            <div class="paired-content-lhs">
                <img src="src/assets/nada.png" alt="Aquinopasonada">
            </div>
            
            <!-- Descripción de la categoría de manga y Attack on Titan -->
            <div class="paired-content-rhs">
                <h2>Aquí podrás</h2>
                
                <p class="push-down">Explorar historias japonesas únicas que te encantaran, <br>
                leer desde cualquier lugar del mundo,<br>
                descubrir mangas en distintos idiomas,<br>
                y disfrutar lanzamientos sin barreras ni límites.</p>
                
                <h4><strong>One Piece</strong></h4>
                
                <p class="lean-left">"AQUÍ NO HA PASADO NADA"</p>
                
                <a href="/series/attack-on-titan/">Ver</a>
            </div>
            </div>
            
            <!-- Sección sobre publicación de manhwa -->
            <div class="paired-content">
            <!-- Imagen ilustrativa de obras de S.L -->
            <div class="paired-content-lhs">
                <img src="src/assets/sus.png" alt="Solo Leveling">
            </div>
            
            <!-- Descripción de la categoría de libros y el fenómeno NISIOSIN -->
            <div class="paired-content-rhs">
                <h2>Además</h2>
                
                <p class="push-down">Leer los manhwas más emocionantes del momento,<br>
                seguir historias llenas de acción, drama y fantasía,<br>
                disfrutar cada capítulo en tu idioma y sin interrupciones,<br>
                y vivir cada escena como si fueras parte del mundo que imaginas.</p>
                
                <h4><strong>Solo Leveling</strong></h4>
                
                <p class="lean-left">"..."</p>
                
                <a href="/series/attack-on-titan/">Ver</a>
            </div>
            </div>
            
            <!-- Sección sobre TV, películas y anime -->
            <div class="paired-content">
            <!-- Imagen ilustrativa de Your Name -->
            <div class="paired-content-lhs">
                <img src="src/assets/y-n.png" alt="Your Name">
            </div>
            
            <!-- Descripción de adaptaciones a medios audiovisuales-->
            <div class="paired-content-rhs">
                <h2>Y por si fuera poco</h2>
                
                <p class="push-down">Puedes disfrutar de películas y animaciones de culto,<br>
                sin esperas, sin suscripciones,<br>
                con acceso desde cualquier parte del mundo,<br>
                y en la mejor calidad disponible.</p>
                
                <h4><strong>Your Name</strong></h4>
                
                <p class="lean-left">"¿Cuál es tu nombre?"</p>
                
                <a href="/series/attack-on-titan/">Ver</a>
            </div>
            </div>
            </div>
        
        <!-- Separador entre secciones -->
        <div class="about-divider"></div>
        
        <!-- Sección de video promocional -->
        <div class="kith-about-inner-wrapper">
            <div class="video-wrapper">
            <div class="video-responsive">
                <!-- Video incrustado de YouTube -->
                <iframe 
                width="100%" 
                height="100%" 
                src="https://www.youtube.com/embed/s-jT-Q-fVa0?si=7b3JwG3k5A6y3BqJ" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen="" 
                title="Video">
                </iframe>


            </div>
            </div>
        </div>
        </div>
    <FOOTER/>
	</body>
</html>



