---
import Layout from '../layouts/Layout.astro';

import SLIDER from "@/components/Content/SLIDERPRINCIPAL/SLIDERPRINCIPAL.astro"
import SERIESDESTACADAS from "@/components/Content/SERIESDESTACADAS/SERIESDESTACADAS.astro"
import NUEVOSCAPS from "@/components/Content/NUEVOSCAPS/NUEVOSCAPS.astro"
import PROXIMOSLANZAMIENTOS from "@/components/Content/PROXIMOSLANZAMIENTOS/PROXIMOSLANZAMIENTOS.astro"
import ADBANNER from "@/components/Content/ADBANNER/ADBanner.astro"
import GENERO1 from "@/components/Content/GENEROS/SHONNEN/SHONNEN.astro"
import GENERO2 from "@/components/Content/GENEROS/SEINEN/SEINEN.astro"
import GENERO3 from "@/components/Content/GENEROS/ROMANCE/ROMANCE.astro"
import GENERO4 from "@/components/Content/GENEROS/HORROR/HORROR.astro"

import "@/components/Content/SLIDERSGLOBAL/KITHSLIDER.scss"
import "@/components/Content/SLIDERPRINCIPAL/SLIDERPRINCIPAL.scss"
import "@/components/Content/NUEVOSCAPS/NUEVOSCAPS.scss"
import "@/components/Content/SERIESDESTACADAS/SERIESDESTACADAS.scss"
import "@/components/Content/PROXIMOSLANZAMIENTOS/PROXIMOSLANZAMIENTOS.scss"
import "@/components/Content/ADBANNER/ADBANNER.scss"
import "@/components/Content/GENEROS/Generos.scss"
---

<Layout showChadbot={true}>

  <SLIDER />
  <div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>

  <SERIESDESTACADAS />
  <div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>

  <NUEVOSCAPS />
  <div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
  
</Layout>
