---
/* ==========================================
  1. IMPORTS STYLES GLOBALES
===========================================*/
import './src/mixins/utilities.scss' 
import './src/styles/Reboot.scss' 
import './src/styles/stylefunciona.css' 
/* ==========================================
  2. IMPORTS COMPONENTES
===========================================*/
import Rata from '@/components/Content/rata.astro';
import HEADER from "src/components/Header/Header.astro";
/* ==========================================
  2. IMPORTS STYLES COMPONENTES
===========================================*/
import './src/components/Header/Header.scss'
---

<!doctype html>
<html lang="es" style="padding-right: 0px; overflow: auto;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<title>Taller Web Proyecto</title>
	</head>
	<body class="scroll" style="overflow: unset">
    <HEADER/>
		<Rata />
	</body>
</html>
