<button class="ChadBot ChadBot" aria-label="chadbot">
    <svg viewBox="0 0 32 21" style="width: 28px; height: 28px;"> <path id="icon_comment" class="cls-1" d="M417,2247l32-2-4,18-10.455-.46L429,2266l0.731-3.6L420,2262Zm9.5,6a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,426.5,2253Zm6,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,432.5,2253Zm6,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,438.5,2253Z" transform="translate(-417 -2245)"></path>
    </svg>
</button>