<div class="contendor-chatbot" id="container-chat">
    <button class="ChadBot ChadBot" aria-label="chadbot">
        <svg viewBox="0 0 32 21" style="width: 28px; height: 28px;">
            <path id="icon_comment" class="cls-1" d="M417,2247l32-2-4,18-10.455-.46L429,2266l0.731-3.6L420,2262Zm9.5,6a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,426.5,2253Zm6,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,432.5,2253Zm6,0a1.5,1.5,0,1,1-1.5,1.5A1.5,1.5,0,0,1,438.5,2253Z" transform="translate(-417 -2245)"></path>
        </svg>
    </button>
    <div class="chat-dropup" id="chatDropUp">
        <div class="chat-head">
            <p class="chat-name">ChadMNG 2.0 by PlxLabs</p>
            <img src="https://static-00.iconduck.com/assets.00/window-close-icon-2048x2048-8x7pzds5.png" alt="close-img" class="chat-close" id="chatClose">
        </div>
        <div class="chat-body" id="chat-body">
            <!-- ELEMENTOS DEL CHAT (OVERFLOW: AUTO) -->
        </div>
        <div class="chat-msg">
            <input type="text" id="msg-chat" class="chat-input" autocomplete="false" placeholder="Escribe tu pregunta">
            <button id="msg-send" type="submit" class="chat-send">Enviar</button>           
        </div>
    </div>
</div>

<script>
    const chatIcon = document.querySelector('.ChadBot');
    const chatDropUp = document.getElementById('chatDropUp');
    const chatClose = document.getElementById('chatClose');
    

    // Clic en el icono: alternar el menú
    if(chatIcon) chatIcon.addEventListener('click', function(event) {
        event.stopPropagation(); // Evita que el clic también cuente como clic en el documento
        if(chatDropUp){
            if (chatDropUp.style.display === 'block') {
                chatDropUp.style.display = 'none';
                chatIcon.classList.remove('active'); // 👈 Quita el borde
            } else {
                chatDropUp.style.display = 'block';
                chatIcon.classList.add('active'); // 👈 Agrega el borde
            }
        }
    });
    
    if(chatClose) chatClose.addEventListener('click', function(){
        if(chatDropUp){
            if (chatDropUp.style.display === 'block') {
                chatDropUp.style.display = 'none';
                if(chatIcon) chatIcon.classList.remove('active'); // 👈 Quita el borde también
            }
        }
    });

    const contChat = document.getElementById('chat-body') as HTMLElement;
    const sendBTN = document.getElementById('msg-send');
    const message = document.getElementById('msg-chat') as HTMLInputElement;

    function addMyMsg(txt:string){
        if (contChat) contChat.innerHTML += 
        "<div style=justify-content:end class=my-msg id=ansID><div class=txt-my id=ansTXT>"+txt+"</div></div>";
    }

    function addChatMsg(txt:string){
        if (contChat) contChat.innerHTML += 
        "<div style=justify-content:start class=cont-msg id=ansID ><div class=txt-chat id=ansTXT>"+txt+"</div></div>";
    }

    function answersChat(message:string){
        if (message.includes("integrantes") || message.includes("grupo")){
            return "Integrantes:<br>Yefferson Farfan<br>Gabriel Flores<br>Polux Morales<br>Walter Rosell<br>Franco Siesquen";
        }
        else if(message.includes("proyecto")){
            var link="/about"
            return "Acá hablamos sobre el proyecto <span><a href="+link+" style= text-decoration:underline;>KITH</a></span>";
        }
        else if (message.includes("curso")){
            return "Este proyecto es para el curso de Taller Web";
        }
        else if (message.includes("paginas")){
            const src = "../src/assets/rat.gif";
            var ansF:string = "<img src="+src+">";
            return "Muchas paginas o secciones siguen bajo construccion, proximamente disponibles<br>"+ansF;
        }
        else if (message.includes("ti")){
            const src = "../src/assets/rat.gif";
            var ansF:string = "<img src="+src+">";
            return "Yo estoy para resolver sus dudas y guiarlo, proximamente estaré mejorado<br>"+ansF;
        }
        else{
            const src = "../src/assets/rat.gif";
            var ansF:string = "<img src="+src+">";
            return "noc<br>"+ansF;
        }
    }

    addChatMsg("Hola! Soy ChadMNG ¿Sobre que tienes dudas?")

    function sendMSG(){
        if(message.value!=""){
            addMyMsg(message.value);
            addChatMsg(answersChat(message.value));
            message.value = "";
            contChat.scroll({top: contChat.scrollHeight, behavior:"smooth"})
        }
    }

    if(sendBTN)
        sendBTN.addEventListener('click', sendMSG)

    if(message)
        message.addEventListener('keypress', (event)=>{
        if(event.key === 'Enter'){
            event.preventDefault();
            sendMSG();
        }
    }
    )
    
</script>