<div class="auth-backdrop">
  <div class="auth-modal-container">
    <div class="auth-close-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512" class="auth-close-icon">
        <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
        <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
      </svg>
    </div>
    <img src="src/assets/LoginBanner.webp" alt="kodansha-login-header" class="auth-header-poster"/>
    <div class="auth-login-container">
      <span class="auth-login-title">Crea tu cuenta</span>
      <span class="auth-signup-text">Enter and confirm your password to get started with your new account</span>

      <span class="auth-signup-email-label">Email</span>
      <div class="auth-login-email-wrapper">
        <div class="kodansha-email-wrapper">
          <input
            class="email-input"
            placeholder="Email"
            aria-labelledby=""
            id="undefined-input-0.5763150032929194"
            name=""
            autocomplete=""
            aria-label=""
            disabled=""
            type="email" 
            value=""
            style="background-color: #2b2b2b; border-bottom: 2px solid #fff; color: rgb(117, 117, 117);"
          />
        </div>
      </div>

      <span class="auth-signup-email-label">Password</span>
      <div class="auth-login-email-wrapper">
        <div class="kodansha-email-wrapper">
          <input
            class="email-input"
            placeholder="Password"
            aria-labelledby=""
            id="undefined-input-0.4448549704416782"
            name=""
            autocomplete=""
            aria-label=""
            type="password"
            value=""
            style="border-bottom: 2px solid #fff;"
          />
        </div>
        <ul class="signup-password-strength-wrapper">
          <li
            class="signup-password-strength-list-item signup-password-strength-list-item-red"
          >
            Needs to be minimum 8 characters
          </li>
          <li
            class="signup-password-strength-list-item signup-password-strength-list-item-red"
          >
            Needs at least one special character
          </li>
          <li
            class="signup-password-strength-list-item signup-password-strength-list-item-red"
          >
            Needs at least one uppercase character
          </li>
        </ul>
      </div>

      <span class="auth-signup-email-label">Confirm Password</span>
      <div class="auth-login-email-wrapper">
        <div class="kodansha-email-wrapper">
          <input
            class="email-input"
            placeholder="Password"
            aria-labelledby=""
            id="undefined-input-0.28942223288414126"
            name=""
            autocomplete=""
            aria-label=""
            type="password"
            value=""
            style="border-bottom: 2px solid #fff"
          />
        </div>
      </div>

      <div class="signup-accept-container">
        <div class="ui-checkbox-container" aria-label="checkbox for terms of use">
          <label for="[object Object]-input-0.8190519708895074" class="checkbox-label"
            >I am 13 years of age or older and agree to the
            <a target="_blank" href="/terms-of-use/"><strong><u>Terms of Use</u></strong></a
            >&nbsp;and&nbsp;<a target="_blank" href="/privacy-policy/"
              ><strong><u>Privacy Policy</u></strong></a
            >.</label
          >
          <input
            id="[object Object]-input-0.8190519708895074"
            name="[object Object]-input-0.8190519708895074"
            aria-label="checkbox for checkbox for terms of use"
            class="checkbox-input"
            type="checkbox"
          />
          <span class="checkmark checkmark-animation"></span>
        </div>
      </div>

      <div class="auth-login-submit-wrapper-outer">
        <div class="auth-login-submit-wrapper">
          <div
            role="button"
            class="arrow-container disabled"
            aria-label="SIGN UP"
          >
            <span class="arrow-btn with-arrow text-bold undefined"
              >SIGN UP</span
            >
            <div class="icon-wrapper">
              <svg
                viewBox="0 0 34 34"
                xmlns="http://www.w3.org/2000/svg"
                fill="#757575"
                width="80"
                class="icon"
              >
                <path
                  d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-modal-cancel-wrapper auth-modal-cancel-wrapper-back">
      <span class="auth-modal-cancel-text">BACK</span>
      <a target="_blank" class="auth-modal-cancel-learn" href="/account-benefits/"
        >ACCOUNT CREATION BENEFITS</a
      >
    </div>
  </div>
</div>