<div class="auth-backdrop">
    <div class="auth-modal-container">
        <div class="auth-close-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 512 512" class="auth-close-icon">
                <path class="PLUS_svg__cls-1" d="M224.35 0h63.29v512h-63.29z"></path>
                <path class="PLUS_svg__cls-1" d="M512 224.35v63.29H0v-63.29z"></path>
            </svg>
        </div>
        <img src="src/assets/LoginBanner.webp" alt="kodansha-login-header" class="auth-header-poster">
        <div class="auth-login-container">
            <span class="auth-login-title">Mi KITH</span>
            <span class="auth-login-subtitle">Como lector de KITH, obtendrás:</span>
            <div class="auth-login-features-wrapper">
                <div class="auth-login-feature">
                    <span class="auth-login-feature-decoration"></span>
                    <span class="auth-login-feature-text">Un lugar para leer y coleccionar nuestro manga digital.</span>
                </div>
            </div>
            <span class="auth-login-email-label">Introduce tu email para empezar</span>


            <div class="auth-login-email-wrapper">
                <div class="kodansha-email-wrapper">
                    <input class="email-input" placeholder="Pavoalcomino@utp.edu.pe" aria-labelledby="" id="undefined-input-0.746224580760815" name="email" autocomplete="" aria-label="" type="text" value="" style="border-bottom: 2px solid #fff;">
                </div>
            </div>

            
            <div class="auth-bottom-buttons-wrapper">
                <div class="auth-login-submit-wrapper">
                    <div role="button" class="arrow-container disabled" aria-label="Continue">
                        <span class="arrow-btn with-arrow text-bold undefined">Continuar</span>
                        <div class="icon-wrapper">
                            <svg viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg" fill="#757575" width="80" class="icon">
                                <path d="m15.496 0 15.939 15.939H0v2.122h31.435L15.495 34H18.5L34 18.5v-3.004L18.5 0h-3.004Z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="auth-modal-cancel-wrapper">
            <a target="_blank" class="auth-modal-cancel-learn" href="/account-benefits/">BENEFICIOS DE LA CREACIÓN DE CUENTA</a>
        </div>
    </div>
</div>