.auth-backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 15000;
  width: 100vw;
  overflow-y: auto;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(117, 117, 117, .45);
}

.auth-backdrop .auth-modal-container {
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-color: #000 rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  width: 470px;
  height: auto;
  //min-height: 650px;
  max-height: 95vh;
  overflow-y: auto;
  background-color: #000;
  opacity: 1;
  position: relative;
}

.auth-backdrop .auth-modal-container::-webkit-scrollbar {
  width: 4px;
}

.auth-backdrop .auth-modal-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

.auth-backdrop .auth-modal-container .auth-close-wrapper {
  border: 3px solid #fff;
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.auth-backdrop .auth-modal-container .auth-close-wrapper .auth-close-icon {
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

.auth-backdrop .auth-modal-container .auth-header-poster {
  width: 100%;
  height: auto;
  margin-top: -1px;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto auto 0 auto;
  min-height: 55px;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .auth-modal-cancel-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
  border-bottom: 1px solid #fff;
  font-size: 13px;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .auth-modal-cancel-text:hover {
  cursor: pointer;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .auth-modal-cancel-learn {
  text-align: end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
  font-size: 13px;
  margin-left: auto;
  border-bottom: 2px solid #ababab;
  text-decoration: none;
  color: #fff;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .auth-modal-cancel-learn:hover {
  cursor: pointer;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper-back {
  align-items: center;
  flex-direction: row !important;
}

.auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper-back .auth-modal-cancel-learn {
  margin-top: 0 !important;
}

.auth-backdrop .auth-modal-container .continue-as-guest-lock .ui-underlined-text {
  color: #c5c5c5;
  border-color: #c5c5c5;
  cursor: default;
}

.auth-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow-y: auto;
  padding-bottom: 100px;
  scroll-behavior: smooth;
  scrollbar-color: #000 rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

.auth-login-container::-webkit-scrollbar {
  width: 4px;
}

.auth-login-container::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .auth-login-container::-webkit-scrollbar {
    display: none;
  }
}


.auth-login-container .auth-login-email-label,
.auth-login-container .auth-signup-email-label {
  font-weight: 100;
  font-family: Maax-Bold-Core, Maax-Bold, sans-serif;
  font-size: 17px;
  width: 80%;
  margin-top: 40px;
}
.auth-login-container .auth-login-title {
  color: #fff;
  text-transform: uppercase;
  margin-top: 30px;
  width: 80%;
  font-weight: 700;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  font-size: 34px;
  line-height: 1.1;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.auth-login-container .auth-login-subtitle {
  color: #fff;
  width: 80%;
  font-weight: 700;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  margin-top: 25px;
  font-size: 16px;
  line-height: 1.1;
}

.auth-login-container .auth-login-title-2 {
  font-size: 28px;
  letter-spacing: -1px;
}

.auth-login-container .auth-login-features-wrapper,
.auth-login-container .auth-login-features-wrapper-checkout {
  width: 80%;
  //grid-row-gap: 10px;
  margin-top: 7px;
  display: grid;
  //grid-template-rows: repeat(3, 1fr);
}

.auth-login-container .auth-login-features-wrapper .auth-login-feature,
.auth-login-container .auth-login-features-wrapper-checkout .auth-login-feature {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 10px auto;
  grid-column-gap: 2px;
  align-content: space-evenly;
}

.auth-login-container .auth-login-features-wrapper .auth-login-feature .auth-login-feature-decoration,
.auth-login-container .auth-login-features-wrapper-checkout .auth-login-feature .auth-login-feature-decoration {
  display: flex;
  flex-direction: column;
  width: 2px;
  height: 20px;
  min-height: 20px;
  border-radius: 1px;
  background-color: #fff;
}

.auth-login-container .auth-login-features-wrapper .auth-login-feature .auth-login-feature-text,
.auth-login-container .auth-login-features-wrapper-checkout .auth-login-feature .auth-login-feature-text {
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  color: #fff;
  font-size: 14px;
}

.auth-login-container .auth-login-email-wrapper {
  width: 80%;
  margin-top: 5px;
}


.auth-login-container .auth-login-email-label,
.auth-login-container .auth-signup-email-label {
  font-weight: 100;
  font-family: "ProximaNova-Bold", "Proxima Nova", sans-serif;
  font-size: 16px;
  width: 80%;
  margin-top: 30px;
}

.auth-login-container .auth-bottom-buttons-wrapper {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .auth-backdrop .auth-modal-container {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

@media screen and (max-width: 450px),
screen and (max-width: 400px),
screen and (max-width: 360px) {
  .auth-backdrop .auth-modal-container {
    max-height: 100vh;
  }

  .auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper {
    display: flex;
    flex-direction: column;
    height: 150px;
    padding: 10px 0;
    justify-content: center;
  }

  .auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .ui-underlined-text {
    margin-left: auto;
  }

  .auth-backdrop .auth-modal-container .auth-modal-cancel-wrapper .auth-modal-cancel-learn {
    margin-top: 20px;
  }
}

@media screen and (max-height: 650px) {
  .auth-backdrop .auth-modal-container {
    min-height: 550px;
  }
}

@media screen and (max-height: 550px) {
  .auth-backdrop .auth-modal-container {
    min-height: 450px;
  }
}

@media screen and (max-height: 450px) {
  .auth-backdrop .auth-modal-container {
    min-height: 350px;
  }
}

@media screen and (max-height: 350px) {
  .auth-backdrop .auth-modal-container {
    min-height: 250px;
  }
}

.auth-login-container .auth-login-submit-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.kodansha-email-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.kodansha-email-wrapper .email-input {
    background-color: #000;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0 0px;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    color: #fff; 
    font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
    font-size: 16px;
}

/* Opcional: estilos para el placeholder */
.kodansha-email-wrapper .email-input::placeholder {
    color: #888;
    opacity: 1;
}

/* Opcional: estado focus */
.kodansha-email-wrapper .email-input:focus {
    border-bottom: 2px solid #ff0000;
    outline: none;
}

.kodansha-email-wrapper .error {
    color: #f5333f; /* Un tono de rojo para errores */
    width: 100%;
    display: flex;
    text-align: start; /* Asegura que el texto se alinee al inicio */
}

.auth-signup-text {
    font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
    font-size: 15px;
    width: 80%;
    margin-top: 10px;
}