$font-family-bold: "ProximaNova-Bold", "Proxima Nova", sans-serif;
$text-color: #fff;
$background-image: url("../../../assets/rat.webp");

.error-page {
  position: absolute;
  inset: 0;
  color: $text-color;
  background: $background-image no-repeat center calc(50% - 5vh);
  background-size: contain;
  font-family: $font-family-bold;
  display: grid;
  place-content: center; 

  .error-text {
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;

    h1 {
      margin: 0;
      font-weight: 700;
      font-family: $font-family-bold;
    }

    .hidden {
      display: none;
    }
  }

  a {
    color: $text-color;
  }

  @media (prefers-reduced-motion: reduce) {
    background-image: none;
  }
}
