<div id="contenedor-cargando">
  <a href="/src/components/Content/Chatbot/Chatbot.astro"><img src="/src/assets/rat.gif" alt="Cargando..." class="loader-imagen"></a>
  <br>
  <div class="txt-cargando">
    <p id="txtLoad">
        Cargando
    </p>
  </div>
  
</div>

<script>
  const contenedorCargando = document.getElementById('contenedor-cargando');
  const contenidoPrincipal = document.getElementById('contenido-principal');

  window.onload = function () {
    if (contenedorCargando) contenedorCargando.style.display = 'none';
    if (contenidoPrincipal) contenidoPrincipal.style.display = 'block';
  };

  const txtLoad = document.getElementById('txtLoad');
  let contador = 0;

  function cambiarTexto() {
    const puntos = ['.', '. .', '. . .'];
    if (txtLoad) txtLoad.innerText = `Cargando ${puntos[contador % 3]}`;
    contador++;
  }

  setInterval(cambiarTexto, 500);
</script>
