.footer {
    width: 100%;
    margin: 100px auto 0 auto;
    border-top: 1px solid #666;
    padding: 40px 16px 0;
    background-color: #000;
    color: #fff
}

.footer__columns {
    margin-bottom: 64px
}

@media(min-width: 768px) {
    .footer {
        padding-top:64px
    }

    .footer__columns {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 96px
    }

    .footer__column {
        width: 50%;
        max-width: 368px
    }

    .footer__column:first-child {
        display: flex;
        flex-direction: column-reverse;
        padding-right: 16px
    }

    .footer__column:last-child {
        padding-left: 16px
    }

    .footer__app-links {
        margin-bottom: 0
    }

    .footer__heading {
        font-size: 16px;
        line-height: 21px
    }

    .footer__box {
        border: none;
        padding-top: 32px;
        padding-bottom: 40px
    }

    .footer__socials {
        display: block;
        width: 188px;
        margin: 0 auto;
        text-align: center
    }

    .footer__logo {
            width: 100px;
    height: auto;
    }

    .footer__socials-heading {
        font-size: 16px;
        line-height: 21px
    }

    .footer__social-logo {
        width: 24px
    }

    .footer__social-logo--discord {
        padding: 4px 4px 4px
    }

    .footer__policy-links {
        font-size: 11px;
        line-height: 11px;
        padding-bottom: 32px
    }
}

@media(min-width: 1025px) {
    .live-landing__menu>.footer {
        position:absolute;
        width: 100vw
    }
}

.footer__nav {
    padding-bottom: 48px
}

.footer__nav-heading {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 12px
}

.footer__nav-item {
    padding-bottom: 12px
}

.footer__heading {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 12px
}

.body-m {
    font-size: 16px;
    line-height: 21px
}

.form-subscribe .mc-field-group:not(.gdpr-mergeRow) {
    position: relative;
    padding-bottom: 32px
}

.kith-font-secundaria  {
    font-family: "ProximaNova-Regular", "Proxima Nova", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .1px
}

.nts-footer {
    display: block!important;
    margin: 40px 0 20px;
    padding: 20px 0;
    border-top: 1px solid #999
}

.footer__app-links {
    margin-bottom: 48px
}

.footer__app-links a:not(:first-child) {
    margin-left: 16px
}

.footer__app-links svg {
    height: 40px
}

.footer__socials {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px
}

.footer__home-link {
    padding: 0
}

.footer__socials-heading {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 28px;
    padding: 0 6px
}

.footer__box {
    flex-grow: 1;
    padding: 16px 14px;
    border: 1px solid #666
}

.footer__social-links {
    display: flex;
    justify-content: space-between
}

.footer__logo {
    width: 100px;
    height: auto;
    fill: #fff
}

.footer__social-logo {
    width: 40px;
    fill: #fff
}

.footer__social-logo--discord {
    padding: 7px 5px 3px
}

.footer__policy-links {
    font-size: 13px;
    line-height: 18px;
    padding-bottom: 16px
}

.footer__policy-link {
    border: none
}

.footer__policy-link:first-child {
    margin-right: 16px
}

