---
/* ==========================================
  1. IMPORTS STYLES GLOBALES
===========================================*/
import './src/mixins/utilities.scss' 
import './src/styles/Reboot.scss' 
import './src/styles/stylefunciona.css' 
import './src/styles/Slider.scss'
/* ==========================================
  2. IMPORTS COMPONENTES
===========================================*/
import RATA_LOAD from "src/components/Content/rata-load.astro";
import HEADER from "src/components/Header/Header.astro";
import FOOTER from "src/components/Footer/Footer.astro";
import SLIDER from "src/components/Content/Slider.astro";
/* ==========================================
  3. IMPORTS STYLES COMPONENTES
===========================================*/
import './src/components/Header/Header.scss'
import './src/components/Content/rata-load.css'
/* ==========================================
  4. IMPORTS JAVASCRIPT COMPONENTES
===========================================*/
---

<!doctype html>
<html lang="es" style="padding-right: 0px; overflow: auto;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<title>Taller Web Proyecto</title>
	</head>
	<body class="scroll" style="overflow: unset">
		<RATA_LOAD/>
		<div id="contenido-principal">
			<HEADER />
			<SLIDER/>
			<FOOTER/>
		</div>
		
	</body>
</html>
