---
/* ==========================================
  1. IMPORTS STYLES GLOBALES
===========================================*/
import './src/mixins/utilities.scss' 
import './src/styles/Reboot.scss' 
import './src/styles/stylefunciona.css' 
import './src/styles/KithArrow.scss'

/* ==========================================
  2. IMPORTS COMPONENTES
===========================================*/
import RATA_LOAD from "src/components/Content/rata-load.astro";
import HEADER from "src/components/Header/Header.astro";
import FOOTER from "src/components/Footer/Footer.astro";
import SLIDER from "src/components/Content/Slider.astro";
import DESTACADOS from "src/components/Content/Destacados.astro";
import NUEVOSCAPS from "src/components/Content/NuevosCaps.astro";
import NUEVOSMANGAS from '@/components/Content/NuevosMangas.astro';
import ADBANNER from '@/components/Content/ADBanner.astro';
import GENEROS from '@/components/Content/Generos.astro';
import CHATBOT from '@/components/Content/Chatbot/Chatbot.astro';
import GENEROS1 from '@/components/Content/Genero1.astro';
import GENEROS2 from '@/components/Content/Genero2.astro';
import GENEROS3 from '@/components/Content/Genero3.astro';
import BUSCARGENERO from '@/components/Content/BuscarGenero.astro';
/* ==========================================
  3. IMPORTS STYLES COMPONENTES
===========================================*/
import './src/components/Header/Header.scss'
import './src/styles/InfoBox.scss'
import './src/styles/SeriesDestacadas.scss'

import './src/styles/ChapterWheelStrip.scss'
import './src/styles/KithSlider.scss'
import './src/styles/Slider.scss'

import './src/styles/NuevosMangas.scss'
import './src/components/Content/rata-load.css'

import './src/styles/Generos.scss'

import './src/components/Content/Chatbot/ChatBot.scss'

import './src/styles/BuscarGenero.scss'
/* ==========================================
  4. IMPORTS JAVASCRIPT COMPONENTES
===========================================*/

---

<!doctype html>
<html lang="es" style="padding-right: 0px; overflow: auto;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1"> 
		<title>Taller Web Proyecto</title>
	</head>
	<body class="scroll" style="overflow: unset">
		<RATA_LOAD/>
		<div id="contenido-principal">
		<HEADER />
		<CHATBOT/>
		<SLIDER/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<DESTACADOS/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<NUEVOSCAPS/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<NUEVOSMANGAS/>
		<div class="ArticleStrip grid-set "><div class="SpacerStrip" style="height: 70px;"></div></div>
		<ADBANNER/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<GENEROS/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<GENEROS1/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<GENEROS2/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<GENEROS3/>
		<div class="ArticleStrip"><div class="SpacerStrip" style="height: 70px;"></div></div>
		<BUSCARGENERO/>
		<FOOTER/>
		</div>
	</body>
</html>
